<footer class="sticky-footer py-4 text-white">
    <div class="container">
        <div class="row pt-1p">
            <div class="col-md-6 text-left">Bookmark the future.</div>
            <div class="col-md-6 text-right">
                <ul class="inline-ul">
                    <li><a href="#" target="_blank" rel="noopener noreferrer">Privacy</a></li>
                    <li><a href="#" target="_blank" rel="noopener noreferrer">Tearms of service</a></li>
                    <li><a href="#" target="_blank" rel="noopener noreferrer">&copy;2019 Bookmark</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>